<div class="reports-list icad-block">

	<div class="title">
		Quick access reports
	</div>

	<ul class="compare-list">
		{{#each reportingList}}
			<li class="compare-list__item">
				<a class="compare-list__link" href="#compare/{{key}}">{{value}}</a>
			</li>
		{{/each}}
	</ul>
</div>