.reporting__details {
	@include pie-clearfix;

	.sub-title {
		padding: 40px 0 40px 0;
		margin: 40px 0 0 32px;
		text-align: center;
	}
}

.reporting__details-head {
	margin: 0;
	position: relative;
	background: _get($globals, white);
	z-index: 1;
}

.reporting__details-side-wrapper,
.reporting__details-side-head-wrapper {
	float: left;
	overflow: hidden;
}

.reporting__details-side-wrapper {
	width: _get($icad, details-side-width);
}

.reporting__details-side-head-wrapper {
	width: 100%;
	.th {
		cursor: pointer;
	}
}

.reporting__details-side {
	float: left;
	width: 100%;
	height: _get($icad, details-table-height);
	overflow-y: hidden;
	overflow-x: scroll;
	border-right: 1px solid _get($globals, black);

	.reporting__details-names {
		margin-top: 0;

		.thead {

			.th {
				@include opacity(0);
				height: 0;
				line-height: 0;
				padding: 0 10px;
				p {
					line-height: 0;
				}
			}
		}

		.tbody {

			.td {
				&:last-of-type {
					border-right: none;
				}
			}
		}
	}
}

.reporting__details-head-wrapper {
	overflow: hidden;
	position: relative;
	width: 70%;
	float: right;
	.th {
		cursor: pointer;
	}
}

.reporting__details-container {
	float: right;
	min-height: 355px;
	overflow: hidden;
	position: relative;
	width: 70%;
}

.reporting__details-wrapper {
	overflow: auto;
	position: relative;
	height: _get($icad, details-table-height);
	width: 100%;
	float: right;

	.reporting__details-inner {
		width: 10000px;
	}

	.reporting__details-table {
		position: relative;
		width: auto;
		margin-top: 0;

		.thead {

			.th {
				@include opacity(0);
				height: 0;
				line-height: 0;
				padding: 0 10px;
				width: auto;
				p {
					line-height: 0;
				}
				span {
					display: inline-block;
					min-width: 180px;
				}
				&:last-child {
					max-width: 800px;
				}
			}
		}

		.tbody {

			.td {
				padding: 0 10px;
				position: relative;
				vertical-align: top;
				white-space: nowrap;
				width: auto;

				&:first-of-type {
					text-align: center;
				}

				&.answer-tooltip {
					cursor: pointer;
					&:hover, &.answer-tooltip-open {
						color: _get($globals, blue);
						span {
							text-decoration: none;
						}
					}
					span {
						text-decoration: underline;
					}
				}

				span {
					display: block;
					min-width: 200px;
					max-width: 722px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

.reporting__table {
	.sort-arrows {
		background: url(/typo3conf/ext/smi_analytics/Resources/Public/Img/ICAD/sort-arrows.png) 0 0 no-repeat;
		display: inline-block;
		height: 17px;
		margin-left: 10px;
		vertical-align: middle;
		width: 12px;
		&[data-order="asc"] {
			background-position: -22px 0;
		}
		&[data-order="desc"] {
			background-position: -44px 0;
		}
	}
}

.tooltip-answer {
	background: _get($globals, white);
	border: 1px solid _get($globals, blue);
	color: _get($globals, blue);
	cursor: default;
	font-size: 12px;
	height: auto;
	left: 0;
	line-height: 16px;
	position: absolute;
	text-align: left;
	top: 30px;
	white-space: normal;
	width: 742px;
	z-index: 100;

	&__close {
		background: url(/typo3conf/ext/smi_analytics/Resources/Public/Img/ICAD/icad-close.png) 0 0 no-repeat;
		cursor: pointer;
		height: 17px;
		line-height: 0;
		right: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 17px;
		&:hover {
			@include opacity(0.7);
		}
	}
	&__content {
		overflow-x: hidden;
		overflow-y: auto;
		padding: 17px;
		height: auto;
	}
}