$dp-input-height: 35px;
$dp-header-height: 30px;
$dp-width: 240px;

.datepicker {
	@include pie-clearfix;
	float: right;
	margin-top: -7px;
	padding-left: 102px;
	width: 511px;

	&__title {
		font-weight: bold;
		font-size: 14px;
		margin-left: 18px;
		margin-bottom: 15px;
	}
}

.datepicker__wrap {
	float: left;
	margin-left: 14px;
	max-width: 160px;

	.datepicker__input {
		@include experimental(box-shadow, inset 0px 0px 6px 0px rgba(223, 223, 223, 0.75));
		@include border-radius(3px);
		height: $dp-input-height;
		line-height: 1; // Fix for placeholder in Safari
		background: #fcfcfc;
		width: 117px;
		text-indent: 8px;
		border: 1px solid rgb(186, 186, 186);
		outline: none;
		&:focus {
			@include input-placeholder {
				@include opacity(0);
			}
		}
	}

	.ui-datepicker-trigger {
		border: none;
		background: transparent url(/typo3conf/ext/smi_analytics/Resources/Public/Img/ICAD/calendar-icons.png) 7px center no-repeat;
		height: $dp-input-height;
		width: 42px;
		float: right;
		padding: 0;

		&:hover,
		&.active {
			background: transparent url(/typo3conf/ext/smi_analytics/Resources/Public/Img/ICAD/calendar-icons.png) -30px center no-repeat;
		}
	}
}

// Rewrite jquery ui calendar styles
#ui-datepicker-div {
	border-radius: 0;
	background: _get($globals, white);
	width: $dp-width;
	border: 1px solid $gray-middle;
	margin-top: 8px;
	display: none;
}

.ui-widget-header {
	background: transparent;
	color: _get($globals, blue);
	height: $dp-header-height;
	line-height: $dp-header-height;
	border: none;
	text-align: center;
	border-bottom: 1px solid $gray-middle;
	border-radius: 0;
	font-weight: normal;

	.ui-corner-all {
		@extend %svg-bg;
		font-size: 24px;
		color: _get($globals, black);
		cursor: pointer;
		&:hover {
			border: none;
			color: _get($globals, blue);
			background: transparent;
		}

		span {
			display: none;
		}
	}

	.ui-datepicker-prev {
		float: left;
		&:before {
			content: '\e601';
			line-height: $dp-header-height;
		}
	}

	.ui-datepicker-next {
		float: right;
		&:before {
			content: '\e602';
			line-height: $dp-header-height;
		}
	}
}

.ui-datepicker-calendar {
	width: $dp-width - 6 * 2;
	margin: 12px 6px 14px 6px;
	line-height: 18px;
	color: _get($globals, blue);

	th {
		font-weight: normal;
	}

	thead tr {
		&:nth-child(1) {
			th {
				&:before {
					content: "";
				}
			}
		}
	}

	tbody tr {
		&:hover {
			background: _get($globals, blue);

			a {
				color: _get($globals, white);
			}
		}

		td:nth-child(2) {
			position: relative;
			 a {
				 position: absolute;
				 padding-left: 40px;
				 left: -39px;
				 top: 1px;
			 }
		}
	}

	td {
		&.ui-state-disabled {
			@include opacity(1);

			.ui-state-default {
				color: _get($globals, disabled-text-color);
			}
		}

		.ui-state-default {
			border: none;
			background: transparent;
			font-weight: normal;
			color: _get($globals, black);
			&:hover {
				background: transparent;
				border: none;
			}
			&.ui-priority-secondary {
				@include opacity(1);
				color: _get($globals, disabled-text-color);
			}
		}
	}

	tr.ui-month-row {

		&:hover {
			background: none;
		}

		td {

			p {
				margin: 0;
				padding: 10px 0;
				background: _get($globals, light-grey);
				text-align: center;
				cursor: pointer;
				border: none;

				&:hover {
					background: _get($globals, disabled-text-color);
				}
				&.is-disabled {
					background: whitesmoke;
					color: _get($globals, disabled-text-color);
				}
				&.selected {
					background: _get($globals, middle-grey);
					color: white;
				}
			}
		}
	}
}

.ui-datepicker-week-col {
	color: _get($globals, black);
	font-weight: bold;

	&:before {
		content: "w";
		margin-right: 2px;
	}
}